.product-flag-extra{
    height: 410px;
}
.extra-flag-img {
    width: 30px;
}

.top-left {
    top: 40px;
    position: relative;
}

.top-right {
    position: absolute;
    right: 0;
}
.bottom-left {
    position: absolute;
    bottom: 0;
}
.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}